<header>
	<% include ./partials/head %>
</header>
<div class="container">
	<div class="row">
		<h1 style="text-align: center">Post new Item</h1>
		<div style="width: 30%; margin: 0 auto;">
			<form action="/" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="name" required="name">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="price" placeholder="price" required="price">
				</div>
				<div class="form-group">
				    <!-- <h2>Job Category</h2> -->
				    <select name="category" class="form-control" required="category">
				    	<option value="sel">Select Category</option>
					    <option value="Shoes">Shoes</option>
					    <option value="Shirts">Shirts</option>
					    <option value="Trousers">Trousers</option>
					    <option value="Accessories">Accessories</option>
					    <option value="Caps">Caps</option>
					    <option value="Watches">Watches</option>
				  	</select>
			  </div>
			  <div class="form-group">
				    <!-- <h2>Job Category</h2> -->
				    <select name="color" class="form-control" required="color">
				    	<option value="sel">Select Color</option>
					    <option value="blue">blue</option>
					    <option value="orange">orange</option>
					    <option value="pink">pink</option>
					    <option value="yellow">yellow</option>
					    <option value="lemon">lemon</option>
					    <option value="purple">purple</option>
				  	</select>
			  </div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="image url" required="image">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="description" required="description">
				</div>
				<div class="form-group">
					<button class="btn btn-block btn-primary">submit</button>
				</div>
			</form>
			<a href="/home">Back</a>
		</div>
	</div>
</div>
